/* GLOBAL */
body,
html {
  width: 100%;
  height: 100%;
  position: relative;
}
* {
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.headText h1 {
  text-align: center;
  font-size: 40px;
}
.headText h5 {
  padding: 10px 0;
  text-align: center;
  font-size: 20px;
}

/* HEADER */
.header {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.header .header__content {
  width: 1250px;
  margin: auto;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
}
.header .header__content ul {
  display: flex;
  list-style: none;
}
.header .header__content ul li {
  padding: 0 10px;
  font-weight: 600;
  letter-spacing: 1px;
}
.header img {
  width: 80px;
}

/* BANNER */
.banner {
  width: 100%;
  height: 100%;
  background-image: url("https://mauweb.monamedia.net/luxuryhotel/wp-content/uploads/2019/03/rhema-kallianpur-275251-unsplash.jpg");
  background-color: rgb(190, 33, 33);
  background-position: center;
  background-size: cover;
}
.banner .banner__content {
  width: 1200px;
  height: 100%;
  margin: auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner .banner__content h1 {
  font-size: 50px;
  line-height: 70px;
}
.banner .banner__content p {
  padding: 15px 0;
  font-size: 20px;
  line-height: 30px;
  word-spacing: 1px;
  letter-spacing: 1px;
}
.banner .banner__content button {
  margin-top: 10px;
  width: 200px;
  padding: 10px 0;
  background-color: transparent;
  color: white;
  font-weight: bold;
  border: white solid 2px;
}

/* INTRO */
.intro .intro__content {
  width: 1250px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 80px;
  box-sizing: border-box;
}
.intro .intro__content .introContent__left {
  width: 40%;
}
.intro .intro__content .introContent__left h1 {
  font-size: 28px;
  line-height: 40px;
}
.intro .intro__content .introContent__left img {
  width: 200px;
  margin: 20px;
}
.intro .intro__content .introContent__left p {
  margin-top: 15px;
  font-size: 16px;
  line-height: 30px;
  word-spacing: 1px;
}
.intro .intro__content .introContent__right {
  width: 55%;
}
.intro .intro__content .introContent__right img {
  width: 100%;
}

/* PRICE */
.price .price__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.price .price__content .price__item {
  width: 50%;
  position: relative;
  overflow: hidden;
}
.price .price__content .price__item img {
  width: 100%;
  display: block;
}
.overlay {
  transition: 1s;
  transform: translateX(100%);
  opacity: 0; /* Bắt đầu ở trạng thái trong suốt */
  visibility: hidden; /* Ẩn .overlay */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(44, 43, 43, 0.693);
}
.price .price__content .price__item:hover .overlay {
  transform: translateX(0%);
  opacity: 1; /* Khi hover, .overlay trở nên không trong suốt */
  visibility: visible; /* Hiển thị .overlay */
}
.overlay .overlay__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.overlay .overlay__content h1 {
  font-size: 45px;
}
.overlay .overlay__content h5 {
  margin: 30px 0;
  font-size: 25px;
}
.overlay .overlay__content button {
  width: 250px;
  padding: 15px 0;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-weight: bold;
}

/* INTRO2 */
.intro2__content {
  width: 1200px;
  margin: auto;
  padding: 80px;
  box-sizing: border-box;
}
.intro2__content .intro2__info {
  margin: 30px 0;
  display: flex;
  gap: 50px;
  line-height: 25px;
  word-spacing: 1px;
  letter-spacing: 1px;
}
.intro2__content .intro2__info {
  text-align: justify;
}
.intro2__content button {
  padding: 8px 30px;
  margin: 15px 0;
  font-weight: bold;
  border: 2px solid black;
  background-color: white;
  transition: 0.5s;
}
.intro2__content button:hover {
  background-color: black;
  color: white;
}

.slide .slide__content {
  display: flex;
  justify-content: space-around;
}
.slide .slide__content img {
  width: 32%;
}

/* DISCOUNT */
.discount {
  padding: 80px 0;
}
.discount__content {
  height: 300px;
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.discount__content .discount__item {
  width: 33.3%;
  height: 100%;
  position: relative;
}
.discount__content .discount__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.discount__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.216);
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: .5s;
}
.discount__overlay h3{
    font-size: 22px;
    margin-bottom: 10px;
}
.discount__overlay a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 15px;
}
.discount__overlay:hover{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.216), rgba(255, 255, 255, 0.25));
}
.background__review{
    margin-top: 50px;
    background-color:#0F172B;

}
.review__content{
    padding: 40px;
    box-sizing: border-box;
    width: 1250px;
    margin: auto;
    display: grid;
    gap: 35px;
    grid-template-areas: 
    'h1 h2 h3'
    'h1 h2 h4'
    ;
}
.review__content img{
    width: 100%;
    height: 100%;
    border-radius: 10px
}
.review__content .review__item1{
    grid-area: h1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.review__content .review__item2{
    grid-area: h2;

}
.review__content .review__item3{
    grid-area: h3;

}
.review__content .review__item4{
    grid-area: h4;

}

.review__content .review__item1 h1{
    line-height: 50px;
    font-size: 38px;
}
.review__content .review__item1 p{
    line-height: 30px;
    font-size: 18px;
    margin: 10px 0;
}
.review__content .review__item1 button{
    width: 200px;
    padding: 8px 0;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: white 2px solid;

}

/* FOTTER */
.footer{
    padding: 50px;
    text-align: center;
}
.footer img{
    width: 150px;
}
.footer .footer__content{
    width: 1250px;
    padding-top: 50px ;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    justify-content: space-around;
    text-align: left;
    gap: 30px;
    color: rgb(66, 65, 65);
} 
.footer .footer__content h5{
    font-size: 18px;
}
.footer .footer__content p{
    font-size: 14px;
    margin: 10px 0;
}
.footer__item{
    flex:1;
}
.footer__item input{
    padding: 5px 0 ;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-top: 5px;
}
.footer__item button{
    padding: 8px 20px ;
    margin-top: 15px;
    background-color: #0F172B;
    color: white;
}
.footer__item div {
    display: flex;
}
.footer__item div img{
    width: 100px;
}
